<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunqi.backend.mapper.InventoryCheckDetailMapper">

    <resultMap id="InventoryCheckDetailDTOResultMap" type="com.yunqi.backend.model.dto.InventoryCheckDetailDTO">
        <result column="id" property="id"/>
        <result column="check_id" property="checkId"/>
        <result column="record_id" property="recordId"/>
        <result column="location_name" property="locationName"/>
        <result column="pre_number" property="preNumber"/>
        <result column="now_number" property="nowNumber"/>
        <result column="pre_production_date" property="preProductionDate"/>
        <result column="now_production_date" property="nowProductionDate"/>
        <result column="wareName" property="wareName"/>
        <result column="wareBrand" property="wareBrand"/>
        <result column="barCode" property="barCode"/>
        <result column="picture" property="picture"/>
    </resultMap>

    <select id="getDetailPage" resultMap="InventoryCheckDetailDTOResultMap">
        select ticd.*, tiw.name wareName, tiw.brand wareBrand, tiw.bar_code barCode, tiw.picture,
        tir.location_name
        from tb_inventory_check_detail ticd
        left join tb_inventory_record tir on tir.id = ticd.record_id
        left join tb_inventory_ware tiw on tiw.id = tir.ware_id
        where
            ticd.check_id = #{detailDTO.checkId}
            <if test="detailDTO.barCode != null">and tiw.bar_code like concat('%', #{detailDTO.barCode}, '%')</if>
            <if test="detailDTO.wareName != null">and tiw.name like concat('%', #{detailDTO.wareName},'%')</if>
            <if test="detailDTO.wareBrand != null">and tiw.brand like concat('%', #{detailDTO.wareBrand},'%')</if>

    </select>
    <select id="selectCheckDetailById" resultMap="InventoryCheckDetailDTOResultMap">
        select ticd.*, tiw.name wareName, tiw.brand wareBrand, tiw.bar_code barCode, tiw.picture
        from tb_inventory_check_detail ticd
            left join tb_inventory_record tir on tir.id = ticd.record_id
            left join tb_inventory_ware tiw on tiw.id = tir.ware_id
        where
            ticd.id = #{checkDetailId}
    </select>
</mapper>
