<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunqi.backend.mapper.MenuMapper">

    <select id="selectMenuTreeAll" resultType="Menu">
        select * from tb_menu t1
        where t1.menu_type in ('D', 'M')
        and t1.status = '0'
        order by t1.order_num
    </select>

    <select id="getMenuChildren" resultType="Menu">
        select * from tb_menu t1
        where t1.path_code like concat(#{pathCode}, '-%')
        and t1.menu_type &lt;&gt; 'B'
        and t1.status = '0'
    </select>
    <select id="selectMenuListByUserId" resultType="Menu">
        select tm.* from tb_menu tm
        left join tb_role_menu trm on trm.menu_id = tm.id
        left join tb_user_role tur on tur.role_id = trm.role_id
        left join tb_role tr on tr.id = tur.role_id
        where tur.user_id = #{userId} and tr.status = '0'
        <if test="name != null and name != ''">
            AND tm.name like concat('%', #{name}, '%')
        </if>
        <if test="status != null and status != ''">
            AND tm.status = #{status}
        </if>
        order by tm.parent_id, tm.order_num
    </select>
    <select id="selectMenuTreeByUserId" resultType="Menu">
        select m.*
        from tb_menu m
         left join tb_role_menu rm on m.id = rm.menu_id
         left join tb_user_role ur on rm.role_id = ur.role_id
         left join tb_role ro on ur.role_id = ro.id
         left join tb_user u on ur.user_id = u.id
        where u.id = #{userId} and m.menu_type in ('D', 'M') and m.status = 0  AND ro.status = 0
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPermsByUserId" resultType="java.lang.String">
        select distinct m.perms from tb_menu m
        left join tb_role_menu rm on m.id = rm.menu_id
        left join tb_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>

</mapper>
